.DS_Store
.npm-cache/
.vscode/
.idea/

**/.env
**/.env.*

**/node_modules/
**/npm-debug.log
**/yarn-error.log

**/build/
**/dist/
**/DerivedData/
**/.gradle/
**/.cxx/

backend/.venv/
HealthMonitorApp/.gem/
HealthMonitorApp/android/.gradle/
HealthMonitorApp/ios/Pods/
