apiVersion: apps/v1
kind: Deployment
metadata:
  name: clickhouse
  namespace: thrive-ai
spec:
  replicas: 1
  selector:
    matchLabels:
      app: clickhouse
  template:
    metadata:
      labels:
        app: clickhouse
    spec:
      containers:
        - name: clickhouse
          image: clickhouse/clickhouse-server:24.6
          ports:
            - containerPort: 8123
            - containerPort: 9000
---
apiVersion: v1
kind: Service
metadata:
  name: clickhouse
  namespace: thrive-ai
spec:
  selector:
    app: clickhouse
  ports:
    - port: 8123
      targetPort: 8123
    - port: 9000
      targetPort: 9000
